* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Brush Script MT", cursive;
  background-color: #2e2e2e;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 30px;
  background: linear-gradient(to right, #4e73df, #1f3a69);
  border-radius: 10px;
  color: white;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.card {
  background-color: #444444;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.5s ease-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  background-color: #555555;
}

.icon-wrapper {
  font-size: 3rem;
  color: #4e73df;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.card:hover .icon-wrapper {
  color: #f39c12;
}

h2 {
  font-family: "Brush Script MT", cursive;
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: 600;
  color: #e0e0e0;
}

.value {
  font-size: 1.4rem;
  color: #a6a6a6;
  margin-top: 15px;
  font-weight: bold;
}

.card.direction .value {
  color: #a1e0f6;
}

.card.vrx .value {
  color: #f39c12;
}

.card.vry .value {
  color: #27ae60;
}

.card.button .value {
  color: #e74c3c;
}

.card .value {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.card.sensor .value {
  color: #9b59b6; /* Roxo, por exemplo */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

button {
  background-color: #4e73df;
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #2a5c9f;
  transform: scale(1.05);
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
